In [6]:
import pandas as pd
from pandas_datareader import data as pdr
import yfinance as yf

yf.pdr_override()

# Obtem os dados de cotação da Apple nos últimos 5 anos
stock_data = pdr.get_data_yahoo("AAPL", start="2017-01-01")

# Exibe as primeiras linhas do dataframe
stock_data.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03 00:00:00-05:00,28.950001,29.082500,28.690001,29.037500,27.174753,115127600
2017-01-04 00:00:00-05:00,28.962500,29.127501,28.937500,29.004999,27.144337,84472400
2017-01-05 00:00:00-05:00,28.980000,29.215000,28.952499,29.152500,27.282377,88774400
2017-01-06 00:00:00-05:00,29.195000,29.540001,29.117500,29.477501,27.586531,127007600
2017-01-09 00:00:00-05:00,29.487499,29.857500,29.485001,29.747499,27.839207,134247600

In [9]:
from sklearn.linear_model import LinearRegression

# Seleciona as colunas do dataframe que serão utilizadas como features (variaveis independentes)
X = stock_data[["Open", "High", "Low", "Close", "Volume"]]

# Seleciona a coluna que sera utilizada como target (variavel dependente)
y = stock_data["Close"]

# Cria o modelo de regressão linear
model = LinearRegression()

# Treina o modelo com os dados de treino
model.fit(X, y)

# Faz a previsão de preço para os proximos dias
predictions = model.predict(X)

# Exibe as previsões
print(predictions)

[ 29.03750038  29.00499916  29.15250015 ... 141.86000061 143.96000671
 145.92999268]